<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

 
 <mapper namespace="com.gyagoo.ex.lec04.dao.NewStudentDAO">
 	<insert id="insertStudent" parameterType="com.gyagoo.ex.lec04.model.NewStudent">
 		INSERT INTO `new_student` 
 		(
 			`name`
 			,	`phoneNumber`
 			,	`email`
 			,	`dreamJob`	
 			,	`createdAt`
 			,	`updatedAt`
 		)
 		VALUES	<!-- NewStudent class 안 멤버변수 이름과 일치시켜 줄 것 -->
 		(
 			#{name}
 			,	#{phoneNumber}
 			,	#{email}
 			,	#{dreamJob}
 			,	now()
 			,	now() 			
 		)
 	</insert>
 	
 </mapper>